.heroSection {
  position: relative;
  padding: 4rem 4rem 0rem 16.75rem;
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 800px) {
    padding: 1.5rem;
    overflow-x: hidden;
  }

  &::before {
    content: "<body>";
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    color: #515152;
    font-style: italic;
    position: relative;
    width: fit-content;
    top: -60px;
    left: -50px;
    @media screen and (max-width: 800px) {
      font-size: 2rem;
      left: -1rem;
    }
  }

  h1 {
    font-size: 6rem;
    font-weight: var(--bold);
    color: white;
    width: fit-content;
    margin: 0;

    @media screen and (max-width: 800px) {
      font-size: 3.5rem;
    }

    &.intro {
      line-height: 1.5em;
    }

    &.typewrite {
      font-family: "Roboto Mono", monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid var(--turquoise); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      animation: typewriter 4s steps(44) 1s 1 normal both,
        cursor 500ms steps(44) infinite;
      letter-spacing: 0.05em;

      @media screen and (max-width: 800px) {
        font-size: 3.5rem;
        letter-spacing: 0;
      }
    }
  }

  .mytitle {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #8d8d8d;
    @media screen and (max-width: 800px) {
      font-size: 2rem;
      margin: 6rem 0;
    }
  }

  .marginLeft {
    margin-left: 0.25em;
  }

  .rubberband {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    transition: all 0.3s ease-out;
    &:hover {
      animation-name: rubberBand;
      color: var(--turquoise);
      &:nth-child(even) {
        color: var(--red);
      }
    }
  }

  .h1TagOpen {
    position: relative;
    &::before {
      content: "<h1>";
      color: #515152;
      font-size: 1.5rem;
      position: absolute;
      margin-top: -1.5em;
      left: -1.5rem;
      font-style: italic;
      font-family: "Indie Flower", cursive;
      @media screen and (max-width: 800px) {
        font-size: 2rem;
        left: 0;
      }
    }
  }

  .h1TagClose {
    position: relative;
    &::after {
      content: "</h1>";
      color: #515152;
      font-size: 1.5rem;
      position: absolute;
      left: -1.5rem;
      font-style: italic;
      font-family: "Indie Flower", cursive;
      @media screen and (max-width: 800px) {
        font-size: 2rem;
        left: 0;
      }
    }
  }

  .openTag {
    color: var(--turquoise);
    &::before {
      content: "<";
    }
  }

  .closeTag {
    color: var(--red);
    &:hover {
      color: var(--red);
    }
    &::after {
      content: "/>";
    }
  }

  .webDeveloper {
    &::after {
      content: "/";
      color: var(--red);
      padding-left: 5px;
    }
  }

  .contractor {
    &::before {
      content: "/";
      color: var(--turquoise);
      padding-right: 5px;
    }
  }
}

/* The typing effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--turquoise);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
