.portfolioHeader {
  font-size: 4em;
  color: var(--turquoise);
  margin: 0 0 40px 0;
}

.workSection {
  padding: 4rem 4rem 4rem 16.75rem;

  .portfolioText {
    color: white;
    font-size: 1.2em;
  }

  .anchor {
    text-decoration: underline;
    color: var(--turquoise);
  }
}
