.imageBackground {
  width: 100%;
}

.swiper {
  width: 40%;
  margin: 5rem auto;
  @media screen and (max-width: 425px) {
    width: 70%;
  }
}

.slide {
  border-radius: 1rem;
  background-color: white;
}
