.prayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  .child {
    flex-basis: 33.33%;
    margin: 1rem;
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }

    img {
      border-radius: 1rem;
    }
  }
}
