.main {
  padding: 2em 0;
  background-color: var(--container-background);
  overflow-y: scroll;
}

.scrollIdnicator {
  position: fixed;
  bottom: 0;
  font-size: var(--default-font-size);
  left: calc(50% + 50px);
  margin-bottom: 2em;
  opacity: 0.7;
  z-index: 10;

  @media screen and (max-width: 800px) {
    left: calc(50% - 58.375px);
    margin-bottom: 1.5em;
  }
}

.scrollDown {
  text-align: center;
  color: white;
}

.magicMouse {
  position: relative;
  width: 18px;
  height: 30px;
  border: 2px solid white;
  border-radius: 15px;
  &.scroll i {
    position: absolute;
    top: 6px;
    left: 50%;
    border-radius: 4px;
    background-color: white;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &.scroll.vertical i {
    width: 4px;
    height: 9px;
    margin-left: -2px;
    animation: vertical-scroll 820ms ease-in-out infinite;
  }
}

/* for presantion. So, delete this */
.presantion {
  margin: 30px auto;
}
/* Animations for Magic Mouse*/
@keyframes vertical-scroll {
  0% {
    top: 6px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 6px;
  }
}
