.main {
  height: 100vh;
  padding: 2em 0;
  background-color: var(--container-background);
  font-size: var(--default-font-size);

  .container {
    margin-left: 300px;
  }
}

.heroElement {
  width: 100%;
  height: 100%;

  .heroTitle {
    text-transform: capitalize;

    h1 {
      font-size: 4.625em;
      font-weight: var(--bold);
      color: white;
    }

    span {
      font-size: 1.5em;
      color: #8d8d8d;
    }

    .webDeveloper {
      &::after {
        content: "/";
        color: var(--red);
        padding-left: 5px;
      }
    }

    .contractor {
      &::before {
        content: "/";
        color: var(--turquoise);
        padding-right: 5px;
      }
    }

    svg {
      transition: all 0.15s ease 0s;
      animation: tada-keyframes 3s ease infinite;
      animation-fill-mode: both;
    }
  }

  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 2.5em;
    }

    .tech {
      cursor: pointer;
    }
  }
}

.brandTags {
  .title {
    font-size: var(--l-font-size);
    margin: var(--s-spacing);
  }

  a {
    font-size: var(--xl-font-size);
    color: var(--link-color);
    text-decoration: none;
    display: block;
    text-align: center;
    margin: var(--xs-spacing);
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4em;

  a {
    color: var(--link-color);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5em;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3em;
}

@keyframes tada-keyframes {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%,
  5% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -5deg);
  }
  15%,
  25%,
  35%,
  45% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 5deg);
  }
  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -5deg);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
}
